.list-item {
  cursor: pointer;
  margin: 2em 0 0;
  display: flex;
  align-items: flex-start;
}

.video-list-wrapper {
  margin: 2em 2px;
  background-color: #292929;
  max-height: 480px;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 30px;
}