.channelName {
  color: #e3e3e3;
  display: inline-block;
}

.main-video-description {
  color: #e3e3e3;
}

.text-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

/* @medias */

@media screen and (max-width: 1580px) {
  .video-list-wrapper {
    width: 100%;
    margin-left: 3px;
    padding-left: 0;
    max-height: 362.25px;
  }

  .list-item {
    margin: 20px 0 20px 20px;
  }
}

@media (max-width: 957px) {
  .video-list-wrapper {
    width: 100%;
    padding-left: 0;
  }
}
