.search_wrapper {
  margin-left: 4.5em;
}

.search_bar {
  width: 600px;
  height: 31px;
  color: #cdcdcd;
  background-color: #000;
  border: 1px solid #303030;
  outline: none;
  padding: 10px;
  line-height: 24px;
  border-radius: 3px;
  font-size: 16px;
}
