.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #232323;
}

.youtube-logo {
  margin-left: 5em;
}

@media screen and (max-width: 500px) {
  .youtube-logo {
    margin-left: 5%;
  }

  .search-wrapper {
    width: 100%;
    margin-left: .5em;
  } 
  .search-bar {
    width: 94%;
  }
}